
.wrapper{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-bottom: 1px solid rgb(240, 238, 238);
}
.wrapper img{
    width: 15rem;
}
.left{
    flex: 2
}
.right{
    flex: 4;
    padding-top:2rem
}