.wrapper{
    min-height: 70vh;
    background-color: aliceblue;
   
}
.form{
    height: 50vh;
    width: 35%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}