.container {
    background-color: black;
    width: 100%;
}

.wrapper {
    width: 80%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    color: white;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5rem;
}

nav ul li {
    list-style: none;
    padding: 1.5rem 4%;
}

nav ul li:hover {
    background-color: #e7ab3c;
}

nav ul li:first-child:hover {
    background-color: black;
}

nav ul li:hover a {
    color: white;
}

/* ==================
drop down styling
================== */

.dropDown {
    display: none;
    height: 300px;
    width: 70rem;
    box-shadow: 1px 2px 5px lightgray;
  
}

.dropDown p {
    color: rgb(125, 124, 124);
    font-weight: 350;
    cursor: pointer;
}



.dropDown h2 {
    color: rgb(105, 103, 103);
    margin-bottom: 2.2rem;
}

nav ul li:hover .dropDown {
    display: block !important;
}


.subMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}







/* =======
responsive
======== */

@media only screen and (max-width: 900px) {}