.body{
    min-height: 70vh;
    background-color: aliceblue;
   
}
.wrapper{
    height: 50vh;
    width: 35%;
    margin: auto;
    background-color: white;
    padding: 2rem;
    margin-top: 5rem;
   
}

.form{
    display: flex;
    flex-direction: column;
}