.container{
   border-bottom: 1px solid rgb(234, 230, 230);
  
   padding: 1rem 0;
}
.wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    gap: 1rem
}
.right{
    display: flex;
    align-items: center;
  
}


/* =========
responsive
======== */

@media only screen and (max-width:900px){
    .wrapper{
        flex-direction: column;
    }
}